@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.menu{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}

.menu__card{
    max-width: 340px;
    margin: 0 auto;
}

.menu__img{
    width: 100%;
}

.menu__card__title{
    font-size: 20px;
    margin: 20px 0;
}
.menu__card__weight{
    font-size: 11px;
    margin-bottom: 7px;
}

.menu__card__text{
    font-size: 11px;
    padding-top: 8px;
    margin-bottom: 20px;
    color: #999999;
}

.menu__card__info{
    color: #999999;
    font-size: 18px;
    font-weight: 600;
}

.menu__card__title, .menu__card__text, .menu__card__weight, .menu__card__text, .menu__card__info{
    text-align: center;
}

@media (max-width: 1024px) {
    .menu{
        grid-template-columns: 1fr 1fr;
    }
    
}

@media (max-width: 767px) {
    .menu{
        grid-template-columns: 1fr;
    }
    
}